body{
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}
.titlecardapio{
    text-align: center;
    font-size: 40px;
    font: Arial;
    margin-top: 50px;
    color: white;
}
img#pizza{
    padding-left: 150px;
}
img#bebida{
    float: right;
    padding-right: 150px;
}